@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

:root {
  --azul-marinho: #007BFF;
  --azul-escuro: #022148;
  --cinza-claro: #F4F4F4;
  --vermelho: #FF5733;
  --verde: #28A745;
}

.shake {
  animation: shake 0.5s ease-in-out;
}


.sombraT {
  text-shadow: 4px 2px 4px var(--azul-escuro);
}

.input-generico {
  border: 1px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.486);
  border-radius: 8px;
  font-weight: 400;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 13px;
  margin-bottom: 10px;
}

.botao-estilo-1 {
  border: 1px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.486);
  border-radius: 8px;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 600;
  font-size: 18px;
  background: linear-gradient(to bottom, white, rgba(128, 128, 128, 0.486));
}

.botao-estilo-2 {
  background-color: var(--azul-escuro);
  border-radius: 8px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.botao-estilo-3 {
  background-color: var(--azul-escuro);
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  color: white;
}

.botao-estilo-4 {
  border: 1px solid rgba(128, 128, 128, 0.486);
  border-radius: 8px;
  padding: 8px 25px 8px 8px;
  min-width: 160px;
  font-weight: 500;
  font-size: 16px;
}

.botao-estilo-5 {
  border-radius: 8px;
  padding: 6px 5px;
  width: auto;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
}

.botao-estilo-1:active {
  font-size: 18.3px;
  transform: scale(0.98);
}

.botao-estilo-2:active {
  background-color: var(--azul-escuro);
  font-size: 18.3px;
  transform: scale(0.98); 
}

.botao-estilo-3:active {
  background-color: var(--azul-escuro);
  font-size: 15.3px;
  transform: scale(0.98);
}

.botao-estilo-4:active {
  font-size: 15.3px;
  transform: scale(0.98);
}

.botao-estilo-5:active {
  transform: scale(0.98);
}

.botao-estilo-1, .botao-estilo-2, .botao-estilo-3, .botao-estilo-4 {
  transition: background-color 0.2s, transform 0.1s;
}

/* Estilos para telas desktop */
.leaflet-container {
  height: 100%;
  width: 90vw;
  z-index: 1;
}

/* Estilos para telas mobile */
@media (max-width: 768px) {
  .leaflet-container {
    height: 100%;
    width: 100vw;
    z-index: 1;
  }
}

body {
    overflow-x: hidden;
}

.container {
    overflow-x: hidden;
}